<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <!-- Add a form witch has
                   a mail address input field,
                  a dropdown with 3 subscription (basic, advanced, pro), set advanced as default,
                 a password field - required,
                a submit button,
                  display a warning if the form is invalid and was touched.
                  display a warning message under each input thats invalid
                  upon submitting the form you should simpy print the values of the form to console. -->


            <form (ngSubmit)="onSubmit()" #f="ngForm">
                <div class="form-group">
                    <label for="email">
                        Email
                    </label>
                    <input type="email" class="form-control" name="email" ngModel id="email" required email #email="ngModel">
                </div>
                <p class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid E-mail</p>
                <div class="form-group">
                    <label for="subscription">Subscription
                    <select class="form-control" name="subscription" id="subscription" [ngModel]="'advanced'" subscription required #subscription="ngModel">
                      <option value="basic">Basic</option>
                      <option value="advanced">Advanced</option>
                      <option value="pro">Pro</option>
                    </select>
                  </label>
                </div>
                <p *ngIf="!subscription.valid && subscription.touched" class="help-block">Please Choose a subscription</p>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input class="form-control" type="password" name="password" required id="password" password ngModel #password="ngModel">
                </div>
                <p class="help-block" *ngIf="!password.valid && password.touched">Please enter your password</p>
                <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
            </form>
        </div>
    </div>
</div>