<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="projectname">
                Project Name
              </label>
                    <input type="text" id="project-name" class="form-control" required formControlName="projectname">
                    <span class="help-block" *ngIf="!signupForm.get('projectname').valid && signupForm.get('projectname').touched">
                Please enter project name
              </span>
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" class="form-control" required formControlName="email" id="email">
                    <span class="help-block" *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched">
                      Please enter valid email
                    </span>
                </div>
                <div class="form-group">
                    <label for="status">Project Status</label>
                    <select class="form-control" formControlName="status" id='status'>
                <option value="stable">Stable</option>
                <option value="critical">Critical</option>
                <option value="finished">Finished</option>
              </select>
                </div>
                <button class="btn btn-default" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>